.tag-item {
    height: 40px;
    overflow: scroll;
}

.category-list,.tag-list {
    padding: 10px;
}

.category-list-item,.tag-list-item {
    padding: 0px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 6px;
    margin: 0px 5px 8px 5px;
    display: block;
    float:left;
}
.category-list-link,.tag-list-link {
    line-height: 12px;
    font-size: 12px;
    color: whitesmoke;
    text-decoration: none;
}
.category-list-count,.tag-list-count {
    font-size: 12px;
    color: #ff7f24;
}