.PostContent p,h3,h4,h5,h6,span,li {
    color: rgb(182, 182, 182);
}

.PostContent p {
    text-indent: 20px;
}

.PostContent h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(77, 184, 233);
}

h2 {
    color: rgb(96, 96, 189);
}

.PostContent strong {
    color: #ff7f24;
}

.PostContent figure {
    background-color: darkgrey;
}

.PostContent .gutter .line {
    font-family: consolas;
    color: darkgrey;
}

.PostContent .gutter {
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    border-color: rgb(24, 24, 24);
    text-align: right;
    background-color: rgb(24, 24, 24);
}

.PostContent .code .line {
    padding: 0px 0px 0px 10px;
    color: black;
    font-family: consolas;
}

.PostContent .code {
    background-color: darkgray;
}

.PostContent a:link {
    color: #ff7f24;
    text-decoration: none
}
.PostContent a:visited {
    color: #bde03b;
    text-decoration: none
}
.PostContent a:hover {
    color: #ff7f24;
    text-decoration: underline;
}
.PostContent a:active {
    color: #ff7f24;
    text-decoration: underline;
}

.PostContent blockquote {
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    padding: 0px 0px 0px 10px;
    border-color: rgb(77, 184, 233);
}

.PostContent hr {
    height: 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    width: 80%
}