body {
    background-color: rgb(24, 24, 24);
    width: 100%;
    min-height: 100%;
}

.stdlink {
    color:white;
    text-decoration: none
}

.stdline {
    height: 0px;
    border-style: dashed;
    border-width: 1px 0px 0px 0px;
}

.clear {
    clear: both;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

#side-menu {
    position: fixed;
    top: 59px;
    left: 0px;
    width: 15%;
    height: 100%;
}

#head-menu {
    color: white;
    z-index:80;
    background-color:black;
    position: fixed;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(61, 61, 61);
    width: 100%;
    height: 60px
}

#title {
    font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
    font-size: 25px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
    color: rgb(219, 219, 219);
    text-decoration:none
}

#menu-bottom {
    position: fixed;
    background-color: black;
    outline:0 none;
    border:none;
    top:15px;
    left:10px;
}

.side {
    z-index: 100;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
}

#mask {
    width: 100px;
    height: 100px;
    top: 20px;
    border-radius: 100%;
    overflow: hidden;
}

#side-pic {
    z-index: 50;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

#ID {
    z-index: 120;
    width: 80%;
    height: 40px;
    top: 140px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.subnav {
    margin: 3px;
    width: 25px;
    height: 25px;
}

.subnav-pic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    z-index: 140;
}

#side-nav {
    margin: 180px auto;
    padding: 0px 0px 0px 0px;
    z-index: 140;
    width: 60%;
    height: 40%;
}

.sidenav-bottom {
    z-index: 100;
    display: table;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.side-href {
    color: white;
    font-size: 15px;
    letter-spacing:3px;
    text-decoration:none
}

#Main {
    z-index: 50;
    float: left;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 50px;
    left: -120px;
    width: 800px;
}

.post-item {
    background-color: black;
    width: 100%;
    display: table;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#Paginator {
    text-align: center;
}

.post-cont {
    width: 85%;
    margin: auto auto;
}

.post-time {
    width: 100%;
    display: table;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 20px;
}

.page-number,.extend {
    font-size: 12px;
    padding: 1px 3px 1px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin: 20px 10px;
}

.current {
    border-width: 0px;
}

.post-end {
    display: block;
    height: 80px;
    margin: 0px auto;
}

.gugu {
    display: block;
    height: 400px;
    margin: 0px auto;
}

.read-more {
    display: block;
    right: 0px;
    text-align: right;
}

.second-archive {
    padding: 0px;
    float: left;
    margin-top: 100px;
    width: 250px;
}

#article-infor {
    padding: 0px;
    float: left;
    width: 250px;
}

.second-item {
    padding: 10px 20px 10px 20px;
    display: table;
    width: 100%;
    margin: 10px auto;
    background-color: black;
}

.note-area {
    margin-top: 20px;
    margin-left: 20px;
}

.worknote-4,.worknote-0,.worknote-1,.worknote-2,.worknote-3 {
    padding: 0px;
    height: 8px;
    width: 8px;
    margin: 2px;
    float: left;
    overflow: hidden;
}

.worknote-0 {
    background-color: #858585;
    color: #858585;
}

.worknote-1 {
    background-color: aquamarine;
    color: aquamarine;
}

.worknote-2 {
    background-color: aqua;
    color: aqua;
}

.worknote-3 {
    background-color: rgb(60, 73, 255);
    color: rgb(60, 73, 255);
}

.worknote-4 {
    background-color: black;
    color: black;
}

.work-infor {
    padding: 3px;
    opacity: 0.8;
    margin: 0;
    border-radius: 3px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(70, 70, 70);
    position: fixed;
    background-color: rgb(24, 24, 24);
    z-index: 200;
}

.note-url {
    display: block;
    padding: 20px;
}

.infor-1 {
    color: white;
    font-size: 13px;
}

.infor-2 {
    color: #c4c4c4
}

.weekday {
    margin-right: 17px;
    float: left;
    font-size: 8px;
    line-height: 8px;
}

#foot {
    position:relative;
    width:100%;
    padding: 0px;
}

#footer {
    background-color: black;
    position: absolute;
    left: -10px;
    width: 100%;
    height: 125px;
}

#cat {
    width:120px;
    width:120px;
    position: absolute;
    left: 50px;
    bottom: 0px;
}

.foot-tip {
    z-index: 150;
    font-size: 15px;
    font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
    color: #858585;
}

#madeby {
    position:absolute;
    left: 150px;
    top: 30px;
}

#hexo {
    position:absolute;
    right: 10px;
    bottom: 0px;
}

#main-foot {
    position: absolute;
    bottom: 10px;
    width: 60%;
    height: 50px;
    left: 20%;
    text-align: center
}

#copyright {
    font-size: 10px;
}