body {
    background-color: rgb(24, 24, 24);
    width: 100%;
    min-height: 100%;
}

#BackGround {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin: 0px 0px;
}

.clear {
    clear: both;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

#SideMenu {
    position: fixed;
    top: 59px;
    left: 0px;
    width: 15%;
    height: 100%;
}

#SideMenuButton {
    background-color:black;
    position: absolute;
    border: none;
    outline: none;
    left: 10px;
    top: 10px;
    width:40px;
    height: 40px;
}

#HeadMenu {
    color: white;
    z-index:80;
    background-color:black;
    position: fixed;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(61, 61, 61);
    width: 100%;
    height: 60px
}

#HeadTitle {
    font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
    font-size: 25px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
    color: rgb(219, 219, 219);
    text-decoration:none
}

.Side {
    z-index: 100;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
}

#Mask {
    width: 100px;
    height: 100px;
    top: 20px;
    border-radius: 100%;
    overflow: hidden;
}

#SidePic {
    z-index: 50;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

#ID {
    z-index: 120;
    width: 80%;
    height: 40px;
    top: 140px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#SideNav {
    margin: 180px auto;
    padding: 0px 0px 0px 0px;
    z-index: 140;
    width: 60%;
    height: 40%;
}

.SidenavMenu {
    z-index: 100;
    display: table;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.SideHref {
    color: white;
    font-size: 15px;
    letter-spacing:3px;
    text-decoration:none
}

#MainArchive {
    z-index: 50;
    float: left;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 50px;
    left: -120px;
    width: 800px;
}

.PostItem {
    background-color: black;
    width: 100%;
    display: table;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#Paginator {
    text-align: center;
}

.PostHere {
    width: 85%;
    margin: auto auto;
}

.PostTime {
    width: 100%;
    display: table;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 20px;
}

.TitleLine {
    height: 0px;
    border-style: dashed;
    border-width: 1px 0px 0px 0px;
}

.page-number,.extend {
    font-size: 12px;
    padding: 1px 3px 1px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin: 20px 10px;
}

.current {
    border-width: 0px;
}

.PostEnd {
    display: block;
    margin: 0px auto;
}

.ReadMoreButton {
    display: block;
    right: 0px;
    text-align: right;
}

.SecondArchive {
    padding: 0px;
    float: left;
    margin-top: 100px;
    width: 250px;
}

#ArticleInfor {
    padding: 0px;
    float: left;
    width: 250px;
}

.SecondItem {
    padding: 10px 20px 20px 20px;
    display: table;
    width: 100%;
    margin: 10px auto;
    background-color: black;
}

.WorkNote {
    margin-top: 20px;
    margin-left: 20px;
}

.WorkNote-4,.WorkNote-0,.WorkNote-1,.WorkNote-2,.WorkNote-3 {
    height: 8px;
    width: 8px;
    margin: 2px;
    float: left;
}

.WorkNote-0 {
    background-color: #858585;
}

.WorkNote-1 {
    background-color: aquamarine;
}

.WorkNote-2 {
    background-color: aqua;
}

.WorkNote-3 {
    background-color: rgb(60, 73, 255);
}

.WorkNote-4 {
    background-color: black;
}

.WeekDay {
    margin-right: 17px;
    float: left;
    font-size: 8px;
    line-height: 8px;
}

#Foot {
    position:relative;
    width:100%;
    background-color:black;
    padding: 0px;
}

#footer {
    background-color: black;
    position: absolute;
    left: -10px;
    width: 100%;
    height: 125px;
}

#cat {
    width:120px;
    width:120px;
    position: absolute;
    left: 50px;
    bottom: 0px;
}

.FootTip {
    z-index: 150;
    font-size: 15px;
    font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
    color: #858585;
}

#MadeBy {
    position:absolute;
    left: 150px;
    top: 30px;
}

#Hexo {
    position:absolute;
    right: 10px;
    bottom: 0px;
}

#MainFoot {
    position: absolute;
    bottom: 10px;
    width: 60%;
    height: 50px;
    left: 20%;
    text-align: center
}

#CopyRight {
    font-size: 10px;
}