.toc {
    font-size: 12px;
    height: 245px;
    color: black;
    overflow: scroll;
}

.toc li{
    margin-bottom: 4px;
    color: black;
    padding: 0px;
}

.toc-link {
    text-decoration: none;
    color: aqua;
}

.toc-number {
}

.toc-text {
    color: rgb(234, 255, 49);
}