p,h3,h4,h5,h6,li,math {
    color: rgb(182, 182, 182);
}

p {
  	font-size: 15px;
    text-indent: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(52, 141, 224);
    text-decoration: none
}

h2 {
    font-size: 25px;
    color: rgb(72, 143, 148);
}

h3 {
	font-size: 18px;
	color: rgb(182, 183, 255);
	text-indent: 10px;
}


strong {
    color: #ff7f24;
}

figure {
    background-color: darkgrey;
}

.gutter .line {
    font-family: consolas;
    color: darkgrey;
}

.gutter {
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    border-color: rgb(24, 24, 24);
    text-align: right;
    background-color: rgb(24, 24, 24);
}

.code .line {
    padding: 0px 0px 0px 10px;
    color: black;
    font-family: consolas;
}

.code {
    background-color: darkgray;
}

a:link {
    color: #ff7f24;
    text-decoration: none
}
a:visited {
    color: #bde03b;
    text-decoration: none
}
a:hover {
    color: #ff7f24;
    text-decoration: underline;
}
a:active {
    color: #ff7f24;
    text-decoration: underline;
}

blockquote {
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    padding: 0px 0px 0px 10px;
    border-color: rgb(77, 184, 233);
}

hr {
    height: 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    width: 80%
}